@import "~bootstrap/scss/bootstrap";
.comment {
  color: #ABABAB;
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 55px;
}
.heart {
  color: #FF6767;
  font-size:20px;
  position:absolute;
  top:20px;
  right:20px
}
.timestamp {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #ABABAB;
}
.meta-data{
  &__icon {
    color: #8EA7FF;
    font-size: 15px
  }
  &__id{
    text-decoration: underline;
    margin-right: 5px;
    color:#8EA7FF;
  }
  &__id,&__text {
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
  }
  &__id{
    text-decoration: underline;
    margin-right: 5px;
    color:#8EA7FF;
  }
}
.aside-container {
  background: #F8F8F8;
  position: absolute;
  z-index: 3;
  top:0;
  right:0;
}
.favorite-container__name{
  font-size: 20px;
  line-height: 28px;
  color: #ABABAB;
}

@media (max-width:992px) {
  .aside-container {
    display: none;
  }
}