@import "import_modules";
.favoriteJoke-container {
  @include joke-container-mixin;
  border: 1px solid #F8F8F8;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  &__text {
    font-size: 18px;
    line-height: 26px;
    color: #333333;
  }
  &__category {
    font-size: 10px;
    line-height: 14px;
    color: #333333;
    background: #FFFFFF;
  }
  &__comment > span {
    font-size:20px
  }
}