@import "~bootstrap/scss/bootstrap";
.main-bar {
  position: relative;
  z-index: 1;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
}
.intro {
  margin-bottom: 80px;

  &__label {
    font-size: 20px;
    line-height: 28px;
  }
}

.promo {
  margin-bottom: 45px;
  &__heading {
    font-size: 32px;
    line-height: 44px;
    color: #333333;
    margin: 0;
  }

  &__content {
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    color: #333333;
  }
}
.joke_search input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.category {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 6px;
}
.joke-search {
  &__label {
    font-size: 18px;
    line-height: 26px;
  }
  &__categories {
    margin: 20px 0;
  }
  &__category {
    cursor: pointer;
    border: 2px solid #F8F8F8;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 10px 10px 0;
    padding: 4px 15px;
    color: #ABABAB;
    animation: expand .5s ease-in-out;
  }
  &__category--active{
    background: #F8F8F8;
    color: #333333;
  }
  &__button {
    width: 152px;
    height: 42px;
    background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 20px 0;
  }
  &__input {
    border: 2px solid #333333;
    border-radius: 10px;
    height: 42px;
    margin: 20px 0 0 0;
    animation: expand .5s ease-in-out;
  }
  &__input::placeholder {
    padding: 10px 15px;
  }
  &__input:focus{
    outline: none;
    box-shadow: 5px 5px 15px 5px #000000;
    caret-color: deeppink;
  }
}
.joke-section{
  &__list{
    list-style-type: none;
    padding: 0;
  }
  &__item {
    margin-bottom: 20px;
    position: relative;
  }
}
